@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  
  background-image: linear-gradient(to right top, #670552, #8a2a72, #ad4893, #d267b7, #f886db);
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding:40px 40px 40px 40px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.wrapper:focus {
  outline: 0;
}

.clash-card {
  background: white;
  width: 300px;
  display: grid;
  margin: auto;
  border-radius: 19px;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}


.clash-card__image--student img {
    width: 250px;
    top: 20px;
    left: 20px;
    position: absolute; 
}

.clash-card__image--UM_STAFF img {
  width: 250px;
  top: 20px;
  left: 20px;
  position: absolute;
}

.clash-card.UM_STAFF{
  margin-left: 40px;
}


.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--student {
  color: #EC9B3B;
}

.clash-card__level--UM_STAFF {
  color: #EC9B3B;
}


.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.clash-card__unit-stats--student {
  background: #EC9B3B;
}
.clash-card__unit-stats--student .one-third {
  border-right: 1px solid #BD7C2F;
}
.clash-card__unit-stats--UM_STAFF {
  background: #EC9B3B;
}
.clash-card__unit-stats--UM_STAFF .one-third {
  border-right: 1px solid #BD7C2F;
}


.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.clash-card__unit-stats .one-third {
  padding:15px;
}

.clash-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.clash-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}
