{%load static%}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/Style.css'%}">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="slide-container">
  
            <div class="wrapper">
              <div class="clash-card student">
                <div class="clash-card__image clash-card__image--student">
                    <img src="{%static 'icon/student.png'%}">
                </div>
                <div class="clash-card__unit-description">
                  Student are able to navigate through this website to check for class timetable that only related to CITRA subject and student can browse on the FAQ if you have any doubts in mind.
                </div>
          
                <div class="clash-card__unit-stats clash-card__unit-stats--student clearfix">
                  <div class="one-third">
                    <div class="stat">Student</div>
                    <div class="stat-value"></div>
                  </div>
          
                </div>
          
              </div> 
              <div class="clash-card UM_STAFF">
                <div class="clash-card__image clash-card__image--UM_STAFF">
                    <img src="{%static 'icon/staff.png'%}">
                </div>
                <div class="clash-card__unit-description">
                  Student are able to navigate through this website to check for class timetable that only related to CITRA subject and student can browse on the FAQ if you have any doubts in mind.
                </div>
          
                <div class="clash-card__unit-stats clash-card__unit-stats--UM_STAFF clearfix">
                  <div class="one-third">
                    <div class="stat">UM STAFF</div>
                    <div class="stat-value"></div>
                  </div>
          
                </div>
          
              </div> 
            </div>
            
            
          </div> <!-- end container -->
    </body>
</html>